.addForm{
    font-size: 20px;
    color: #ec971f;
    text-decoration: none;
}

.addForm:hover{
    font-size: 20px;
    text-decoration: none;
    color: #fff560;
    /*color: #ec971f;*/
    /*outline: 5px dashed #fff560;*/
    /*outline-offset: -5px;*/
}
.addText{
    color: #57350e;
}

.left{
    color: #2aabd2;
}

.right{
    color: #2aabd2;
    background-color: whitesmoke;
    min-height: 500px;
}

.rightC{
    color: #2aabd2;
    background-color: whitesmoke;
    min-height: 500px;
}

.active{
    color: #ffffff;
    background-color: #165f84;
}
.active:hover{
    color: #0c3347;
    background-color: #9d9d9d;
}

.notActive{
    color: #165f84;
    background-color: whitesmoke;
}

.notActive:hover{
    color: #0c3347;
    background-color: #9d9d9d;
}
.line{
    size: 14px;
    color: whitesmoke;
    background-color: #165f84;
}